footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #202027;
  font-weight: 600;
  padding: 1.2rem 0;
}

.facebook-img {
  width: 1.5rem;
}

.text-container {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.logos-container {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.social-logo {
  display: flex;
  flex-direction: row;
  gap: 0.45rem;
}

p:hover {
  color: #adadad;
}

p:focus {
  color: #adadad;
}

@media (min-device-width: 480px) {
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #202027;
    font-weight: 600;
    padding: 0.8rem 0;
  }

  .social-logo {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}
