strong {
  color: #bc3a80;
}

p {
  font-size: 3.5rem;
  font-weight: 650;
  text-align: start;
  margin: 0 3rem;
}

section {
  width: 99.5vw;
  height: 79.4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: #202027;
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

button {
  background-color: #1762a7;
  border: none;
  border-radius: 8px;
  height: 2.5rem;
}

input {
  background-color: #202027;
  border: 1px solid #2f3253;
}

@media (min-device-width: 480px) {
  body {
    overflow: hidden;
  }

  section {
    display: flex;
    flex-direction: row;
    height: 72.6vh;
  }

  form {
    width: 26rem;
    height: 20rem;
  }
}
