section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 76vh;
  margin: 3rem;
  gap: 2rem;
}

.img-container {
  display: none;
}

.landing-img {
  display: none;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  gap: 2rem;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
}

p {
  font-size: 1.3rem;
}

button {
  background-color: #1762a7;
  font-size: 0.8rem;
  border-radius: 0.8rem;
  border: none;
  width: 6.5rem;
  height: 2.8rem;
  font-size: 0.85rem;
}

button:hover {
  background-color: #2180d8;
}

button:focus {
  background-color: #2796ff;
}

@media (min-width: 481px) {
  section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 82vh;
    margin: 0;
  }

  .img-container {
    display: block;
    height: 30rem;
  }

  .landing-img {
    display: block;
    height: 100%;
  }

  h2 {
    font-size: 4rem;
    font-weight: 400;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
