<app-header></app-header>
<section>
  <h2>Discover new music</h2>
  <div class="buttons">
    <div class="logos-menu">
      <img
        class="button-menu"
        src="../../assets/microphone.svg"
        alt="A minimalist microphone logo"
      />
      <p>Charts</p>
    </div>
    <div class="logos-menu">
      <img
        class="button-menu"
        src="../../assets/albums.svg"
        alt="A minimalist albums logo"
      />
      <p>Albums</p>
    </div>
    <div class="logos-menu">
      <img
        class="button-menu"
        src="../../assets/more.svg"
        alt="A minimalist arrow logo"
      />
      <p>More</p>
    </div>
  </div>
  <p>By joining you can benefit by listening to the lastest albums released.</p>
  <img
    class="album-img"
    src="../../assets/covers.jpg"
    alt="Image of some famous music albums"
  />
</section>
<app-footer></app-footer>
